canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  font-size: 0;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 1px black;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 3rem;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px transparent solid;
}

a:hover {
  border-bottom: 1px white solid;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  grid-column: 3 / span 6;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

section {
  grid-column: 8 / 12;
  padding: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

blockquote {
  padding: 0;
  grid-column: 2 / span 9;
  margin: 0 0 1rem;
}

blockquote p {
  font-size: 3.5rem;
  display: inline;
  line-height: 1;
}

#span {
  background-color: white;
  color: black;
  padding: 0.5rem;
}

#quote {
  grid-column: 2 / span 10;
  margin: 4rem 0 4rem 0;
}
#contact {
  grid-column: 2 / span 11;
  margin: 4rem 0 4rem 0;
}

.project {
  grid-column: 6 / 12;
}

.project h3 {
  margin-top: 2.5rem;
}

.about {
  margin-top: 9rem;
}

.skills {
  text-align: center;
}

.a-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts {
  grid-column: 2/12;
}

.contacts a {
  margin-right: 3rem;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
  }

  section {
    font-size: 1.5rem;
    padding: 2rem;
  }

  header {
    font-size: 1.5rem;
  }

  blockquote p {
    font-size: 1.5rem;
  }

  .about {
    margin-top: 20rem;
  }

  #quote {
    margin: 4rem 1rem 4rem 1rem;
    text-align: center;
  }

  #contact {
    display: flex;
  }

  #contact p {
    margin: auto;
  }

  .contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contacts a {
    margin-right: 0;
  }

  .contacts svg {
    width: 3rem;
    height: 3rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}
